.search-container, .switch-container {
    padding: 20px 0px;
}

.light {
    background-color : white;
    color: black;
}

.dark {
    background-color : #333;
    color: white;
}

.list-group {
    display: flex;
    overflow-x: auto !important;
    padding-left: 15px !important;
    margin-bottom: 20px !important;
}

.list-group li > div {
    display: flex;
    flex-direction: column;
}

.media-body {
    width: auto !important;
}